<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<img src="/../uploads/<%=file.filename%>">
<h1><%=file.path%></h1>

</body>
</html>
